<nav>
    <ul>
        <li class="nav_item"><a href="#">Home</a></li>
        <li class="nav_item"><a href="#">Custom</a></li>
        <li class="nav_item"><a href="#">Sedan</a></li>
        <li class="nav_item"><a href="#">SUV</a></li>
        <li class="nav_item"><a href="#">Truck</a></li>
    </ul>
</nav>